<h1>Gestão de Turnos - Cuidador</h1>
<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Status</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @turnos.each do |turno| %>
      <tr>
        <td><%= turno.data %></td>
        <td><%= turno.status %></td>
        <td>
          <%= link_to 'Iniciar', cuidadores_turno_path(turno, status: 'iniciado'), method: :patch, class: 'btn btn-success' %>
          <%= link_to 'Finalizar', cuidadores_turno_path(turno, status: 'finalizado'), method: :patch, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
