
<h1><%= @report_title %></h1>

<% if @data.any? %>
  <table class="table">
    <thead>
      <tr>
        <% @data.first.attributes.each_key do |key| %>
          <th><%= key.humanize %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @data.each do |record| %>
        <tr>
          <% record.attributes.each_value do |value| %>
            <td><%= value %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Nenhum dado disponível.</p>
<% end %>
